// for more on building a config for an HPC see: https://nf-co.re/usage/tutorials/step_by_step_institutional_profile
params {
  config_profile_description = 'Teton cluster profile'
    max_memory = 4.TB
    max_time = 168.h
    max_cpus = 72
}
process {
    process.executor = 'slurm'
    // Put in whatever options that are accepted by our system
    // including things like, "--partition="teton-hugemem" --mem=400000
    clusterOptions = '--account=evolgen --time=01:00:00 --cpus-per-task=1  --ntasks-per-node=4'
    singularity.enabled = true
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/project/evolgen/singularity_containers'
}

executor {
    queueSize = 200
    submitRateLimit = '200/2min'
}
